#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  height: 60px;
  display: flex;
  justify-content: right;
  align-items: center;
}

nav a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  background-color: grey;
  color: black;
}

nav a:active {
  border-bottom: 2px solid yellow;
}
