.footer {
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed; /* Fix the position */
  bottom: 20px;
  right: 40px;
  height: 30px;
  /* Navbar spans the full width */
}

.footer .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .social-links a {
  color: white;
  margin: 0 10px;
  font-size: 25px;
}

.footer .social-links a:hover {
  color: green;
}
