.section-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.section-overview h3 {
  margin: 10px 20px;
  text-align: center;
}

.section-overview h3 {
  text-align: left;
}

.section-overview h3:last-child {
  text-align: right;
}

.lock-icon-container {
  flex: 1;
  text-align: right; /* Aligns the icon to the right */
  /* Additional styling for the icon container */
}
