.overview-container {
  width: 100%;
  overflow-x: hidden;
}
.section-overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  /* Remove horizontal paddings if present or adjust them as needed */
  position: relative;
  padding: 20px 0;
}

.section-overview h3 {
  font-size: 25px;
}

.overview-section-title,
.overview-section-lock-message,
.overview-section-lock-type {
  /* Adjust margins and flex values as needed */
  margin: 0 15px;
  flex: 1;
}

.lock-icon-container {
  /* Do not use flex: 1 to ensure it doesn't push other content away */
  margin-left: auto;
  text-align: right;
  padding-right: 10px;
}
